<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="plugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <plugin.Properties.Settings>
            <setting name="refreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="separateTagBindings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recordingTagBindings" serializeAs="String">
                <value>genre;mood</value>
            </setting>
            <setting name="releaseTagBindings" serializeAs="String">
                <value>genres</value>
            </setting>
            <setting name="releaseGroupTagBindings" serializeAs="String">
                <value>genres</value>
            </setting>
            <setting name="findReplace" serializeAs="String">
                <value>synthpop;synth-pop
uplifting trance;melodic trance
alt-pop;alternative pop</value>
            </setting>
            <setting name="tagSubmitIsDestructive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cachedUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="recordingGenreField" serializeAs="String">
                <value>genre</value>
            </setting>
            <setting name="recordingTagField" serializeAs="String">
                <value>keywords</value>
            </setting>
            <setting name="separateGenres" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="releaseGenreField" serializeAs="String">
                <value>genre</value>
            </setting>
            <setting name="releaseTagField" serializeAs="String">
                <value>keywords</value>
            </setting>
            <setting name="releaseGroupGenreField" serializeAs="String">
                <value>genre</value>
            </setting>
            <setting name="releaseGroupTagField" serializeAs="String">
                <value>keywords</value>
            </setting>
            <setting name="separateFieldsByEntityType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="downloadOnlyUserTags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tagCountThreshold" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="genreCountThreshold" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="maxTags" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="maxGenres" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="letterCaseMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tagMoveEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tagsToMove" serializeAs="String">
                <value>tracker music;current_genre
adult contemporary;current_genre</value>
            </setting>
            <setting name="getWarningAcknowledged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setWarningAcknowledged" serializeAs="String">
                <value>False</value>
            </setting>
        </plugin.Properties.Settings>
    </userSettings>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>